#java specific
*.class

#netbeans ignore personal stuff
nbproject/private/

# generic files to ignore
*~
*.lock
*.DS_Store
*.swp
*.out

# Package Files
*.jar
*.war
*.ear
/02TareaMemoriaIntermedia/build/
/03Tuplas/nbproject/private/
/03Tuplas/build/
/04Ranuras/nbproject/private/
/04Ranuras/build/
/Almacenamiento/nbproject/private/
/Almacenamiento/build/
/Almacenamiento/dist/
/05Almacenamiento/nbproject/private/
/05Almacenamiento/build/